<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="com.rafalskrzypczyk.paramedquiz.ParamedQuizApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/mediquiz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mediquiz_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParamedQuiz"
        tools:targetApi="31">

        <!-- Aplikacja jest single-Activity, wiec automatyczny screen_view raportowalby
             wylacznie MainActivity. Ekrany logujemy recznie z glownego NavHosta. -->
        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="false" />

        <!-- Model opt-in: zbieranie startuje wylaczone, wlacza je dopiero zgoda uzytkownika
             (AnalyticsConsentManager). Flagi pokrywaja okno przed pierwsza linia naszego kodu -
             Firebase wstaje z ContentProvidera przed Application.onCreate. -->
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <!-- Consent Mode: domyslnie odmowa, zanim UMP ustali zgode (odbiorca to EOG). -->
        <meta-data
            android:name="google_analytics_default_allow_analytics_storage"
            android:value="false" />
        <meta-data
            android:name="google_analytics_default_allow_ad_storage"
            android:value="false" />
        <meta-data
            android:name="google_analytics_default_allow_ad_user_data"
            android:value="false" />
        <meta-data
            android:name="google_analytics_default_allow_ad_personalization_signals"
            android:value="false" />
        <activity
            android:name="com.rafalskrzypczyk.paramedquiz.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>